.App {
  text-align: center;
}
.nav-link{
  text-decoration: none;
  text-align: right;
  color: rgb(184, 183, 183);
  display:flex;
  justify-content: center;
  min-height: auto;
 
}
.caption-home-div{
  padding-top: 200px;
  padding-right: 100px;
}
.caption-home{
  font-size: 2.5rem;
  font-weight: 300;
  color: white;
}
@media only screen and (max-width : 750px){
  .caption-home{
    font-size: 2rem;
  }
}
.karousel img{
  transition: all 100ms;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;
}
.karousel img:hover{
  transform: scale(1.05);
}
.homepage{
  /* background-color: rgba(226, 225, 224, 0.747); */
  height: 650px;
  width: 100%;
   background-position: center;
   background-size: fill;
   background-repeat: no-repeat;
   background-image: url('./Imgs/Cover-pic.jpeg');

}
.nav-item{
  text-align: right;
}
footer{
  background-color: black;
}

span {
  border-style: groove;
  margin-top: 50%;
}
.pf{
  margin: 2%;
  padding: 0.5%;
  background-color: #ffffff;
  border: solid 2px black;
}
.contact{
text-align: left;
padding-top: 2%;
padding-bottom: 2%;
}